
  :root {
    --primary-color: #3498f9;
    --accent-color: #f43e46;
    --text-color: #444;
    --contrast-color: #ccc;
    --bg-color: #fff;
  }
  .dark-mode {
    --primary-color: #123456;
    --accent-color: #c60027;
    --text-color: #fff;
    --contrast-color: rgb(100,100,100);
    --bg-color: #111;
  }

  $primary-color: var(--primary-color);
  $accent-color: var(--accent-color);
  $text-color: var(--text-color);
  $contrast-color: var(--contrast-color);
  $bg-color: var(--bg-color);



  $cubic-negative: cubic-bezier(.175, .885, .32, 1.2);


